:root{
    --fuentePrincipal: "Radio Canada", sans-serif;
    --fuenteSecundaria: "Open Sans", sans-serif;

    --blanco: #fff;
    --negro: #000;
    --cafe: #495fb7;
    --gris: #9b9b9b;

}
html{
box-sizing: border-box;
font-size: 62.5%; /* 1rem=10px */
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 2;
}
/* GLOBALES */
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: var(--fuenteSecundaria);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
input{
    border: none;
}
/* UTILIDADES */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/* HEADER */
.webp .header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.webp);
    background-size: cover; /* Para cubrir todo el contenedor */
    background-position: center;
}

.no-webp .header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpeg);
    background-size: cover; /* Para cubrir todo el contenedor */
    background-position: center;   
}

.header{
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.header__texto{
    color: var(--blanco);
    text-align: center;
    margin-top: 3rem;
}

/* NAVEGACION */
.barra a{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 300;
}

.logo__bold{
    font-weight: bold;
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .enlaces{
        display: flex;
    }
    .enlaces a{
        margin-right: 1rem;
    }
    .header__texto{
        margin-top: 10rem;
    }
}
.enlaces__a{
    display: block;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .contenido__principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}


/* SIDEBAR */

@media (min-width: 768px) {
    .sidebar{
        display: flex;
        flex-direction: column;

    }
    .sidebar__taller{
        margin-bottom: 5rem;
    }
    .sidebar__taller--descripcion span{
        font-weight: bold;
    }
}

.entrada{
    border-bottom: solid var(--gris) 0.1rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    text-align: center;
    color: var(--blanco);
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
        padding: 1rem 2rem;
    }
}

.boton__primario{
    color: var(--blanco);
    background-color: var(--negro);
}
.boton__secundario{
    color: var(--blanco);
    background-color: var(--cafe);
}
/* FOOTER */
.footer{
    background-color: var(--negro);
    padding: 2rem 0;
}

/* NOSOTROS */

@media (min-width: 900px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: center;
    }
}
.sobre-nosotros__texto{
    text-align: justify;
}

/* CURSOS */
.cursos{
    border-bottom: solid 1px var(--gris);
}
.cursos:last-of-type{
    border-bottom: none;
}

@media (min-width: 768px) {
    .cursos{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        margin-bottom: 1rem;
    }
}

/* CONTACTO */

.contacto__bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/* FORMULARIO */
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: left;
    gap: 2rem;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
    flex: 1;
}
